{
    "app": {
        "port": 3001
    },

    "debug": true,

    "jwt": {
        "expiresIn": "1h"
    },

    "protectedFields": ["password", "username"],

    "logger": {
        "maxLoggingLevel": "silly"
    },

    "eradaniConnect": {
        "xml": {
            "host": "localhost",
            "port": 47700,
            "path": "/cgi-bin/xmlcgi.pgm",
            "usePOST": true,
            "debug": true
        },
        "odbc": "DSN=*LOCAL",
        "odbcOptions": {
            "debug": true,
            "noPool": true,
            "pool": {
                "reuseConnections": true,
                "initialSize": 5,
                "incrementSize": 5,
                "maxSize": 15
            }
        },
        "credentials": {
            "username": "demo1234",
            "password": "demodemo"
        },
        "native": {
            "objlib": "ECNCTAPP",
            "templateDataLib": "QIWS"
        }
    },

    "defaults": {}
}
